<!--Discover-->
<section class="discover l-section-wrapper">
    <header class="l-discover__headline">
        <h2 class="c-section-headline">Discover holiday activity ideas</h2>
    </header>
    <div class="l-masonry" id="masonry" data-masonry>
        <div class="l-masonry__item">
            <a class="l-masonry__link" href="#"><img class="l-masonry__img" src="img/disc-sport.png" alt="teaser"></a>
            <span class="l-masonry__text">text</span>
        </div>
        <div class="l-masonry__item">
            <a class="l-masonry__link" href="#"><img class="l-masonry__img" src="img/disc-health.png" alt="teaser"></a>
            <span class="l-masonry__text">text</span>
        </div>
        <div class="l-masonry__item">
            <a class="l-masonry__link" href="#"><img class="l-masonry__img" src="img/disc-xtreme.png" alt="teaser"></a>
            <span class="l-masonry__text">text</span>
        </div>
        <div class="l-masonry__item">
            <a class="l-masonry__link" href="#"><img class="l-masonry__img" src="img/disc-games.png" alt="teaser"></a>
            <span class="l-masonry__text">text</span>
        </div>
        <div class="l-masonry__item l-masonry__item--width2">
            <a class="l-masonry__link" href="#"><img class="l-masonry__img" src="img/disc-culture.png" alt="teaser"></a>
            <span class="l-masonry__text">text</span>
        </div>
        <div class="l-masonry__item l-masonry__item--width2">
            <a class="l-masonry__link" href="#"><img class="l-masonry__img" src="img/disc-relax.png" alt="teaser"></a>
            <span class="l-masonry__text">text</span>
        </div>
        <div class="l-masonry__item">
            <a class="l-masonry__link" href="#"><img class="l-masonry__img" src="img/disc-travel.png" alt="teaser"></a>
            <span class="l-masonry__text">text</span>
        </div>
    </div>
</section>  <!--Discover End-->
