<!--Footer-->
<footer class="l-footer">
    <div class="l-section-wrapper clearfix">
        <h3 class="l-footer__logo c-logo c-logo--secondary">URLAUBSGLÜCK</h3>
        <div class="l-footer__links">
            <div class="c-links">
                <h6 class="c-links__header">Company</h6>
                <nav class="c-links__menu">
                    <a href="#" class="c-links__item">About</a>
                    <a href="#" class="c-links__item">Contacts</a>
                    <a href="#" class="c-links__item">Press</a>
                    <a href="#" class="c-links__item">Blog</a>
                </nav>
            </div>
        </div>
        <div class="l-footer__links">
            <div class="c-links">
                <h6 class="c-links__header">Partners</h6>
            </div>
        </div>
        <div class="l-footer__design">
            <div class="c-design">
                <p class="c-design__text">Designed by</p>
                <a href="#" class="c-design__link">
                    <img src="img/designed-by.png" alt="Our Designers Logo" width="110" height="24">
                </a>
            </div>
        </div>
    </div>
</footer>   <!--Footer End-->