<!--Header-->
<header class="l-header">
    <div class="l-section-wrapper">
        <div class="l-header__site-enter">
            <button class="c-button c-button--border-transparent">Log In</button>
            <button class="c-button c-button--border-bright">Sign Up</button>
        </div>
        <div class="l-header__logo">
            <span class="c-logo c-logo--primary">URLAUBSGLÜCK</span>
        </div>
        <div class="l-header__headlines clearfix">
            <h1 class="c-main-headline">Share your holiday dreams</h1>
            <p class="l-header__subheader c-subheader c-subheader--bright">And find the perfect partner to fullfill
                it</p>
        </div>
        <div class="l-header__cta">   <!--cta // Call To Action-->
            <button class="c-button c-button--solid">Find your holiday partner</button>
        </div>
    </div>
</header>   <!--Header End-->
