<!--Partners-->
<section class="l-partners l-section-wrapper">
    <header class="l-partners__headline">
        <h2 class="c-section-headline">Meet a partner for your best holiday</h2>
    </header>
    <div class="l-partners__users clearfix">
        <div class="c-user-card">
            <img src="img/user-1.png" alt="user avatar" width="121" height="121" class="user-card__img">
            <h4 class="c-user-card__name">Bradley Hunter</h4>
            <p class="c-user-card__info">Based in Chicago. I love playing tennis and loud music.</p>
        </div>
        <div class="c-user-card">
            <img src="img/user-2.png" alt="user avatar" width="121" height="121" class="user-card__img">
            <h4 class="c-user-card__name">Lucas Marsha</h4>
            <p class="c-user-card__info">I get my inspiration from nature and objects around me. I have a passion to
                colours, typography and skateboards.
            </p>
        </div>
        <div class="c-user-card">
            <img src="img/user-3.png" alt="user avatar" width="121" height="121" class="user-card__img">
            <h4 class="c-user-card__name">Heather Walker</h4>
            <p class="c-user-card__info">I'm a happy person that loves cats and climbing on mountains.
            </p>
        </div>
        <div class="c-user-card">
            <img src="img/user-4.png" alt="user avatar" width="121" height="121" class="user-card__img">
            <h4 class="c-user-card__name">Bradley Hunter</h4>
            <p class="c-user-card__info">Based in Chicago. I love playing tennis and loud music.</p>
        </div>
    </div>
    <div class="l-partners__more">
        <button class="c-button c-button--border-dark">See other partners</button>
    </div>
</section>  <!--Partners End-->
