<!--Search-->
<section class="l-search l-section-wrapper">
    <header class="l-search__headline">
        <h2 class="c-section-headline">Discover holiday activity ideas</h2>
    </header>
    <p class="l-search__question c-subheader">Hi! What are your holiday interests?</p>
    <div class="l-search__form">
        <form action="/" method="get" class="c-form">
            <input class="c-form__input" type="text" id="imageRequest" placeholder="Enter your interests">
            <input class="c-form__submit c-button c-button--solid" id="submit" type="submit" value="Search partners">
        </form>
    </div>
</section>  <!--Search End-->
