<!--Steps-->
<section id="l-steps" class="l-section-wrapper clearfix">
    <header class="l-steps__headline" style="margin-bottom: 4px">
        <h2 class="c-section-headline">How Urlaubsglück works?</h2>
    </header>
    <div class="l-carousel" data-flickity>
        <div class="l-carousel__cell l-carousel__cell--first">
            <span class="l-carousel__step">step 1</span>
            <h3 class="l-carousel__header">Sed leo enim, condimentum</h3>
            <p class="l-carousel__text">Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a
                leo sit amet facilisis.</p>
        </div>
        <div class="l-carousel__cell l-carousel__cell--second">
            <span class="l-carousel__step">step 1</span>
            <h3 class="l-carousel__header">Sed leo enim, condimentum</h3>
            <p class="l-carousel__text">Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a
                leo sit amet facilisis.</p>
        </div>
        <div class="l-carousel__cell l-carousel__cell--third">
            <span class="l-carousel__step">step 1</span>
            <h3 class="l-carousel__header">Sed leo enim, condimentum</h3>
            <p class="l-carousel__text">Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a
                leo sit amet facilisis.</p>
        </div>
    </div>
    <div class="l-carousel" data-flickity>
        <div class="l-carousel__cell l-carousel__cell--second">
            <span class="l-carousel__step">step 1</span>
            <h3 class="l-carousel__header">Sed leo enim, condimentum</h3>
            <p class="l-carousel__text">Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a
                leo sit amet facilisis.</p>
        </div>
        <div class="l-carousel__cell l-carousel__cell--third">
            <span class="l-carousel__step">step 1</span>
            <h3 class="l-carousel__header">Sed leo enim, condimentum</h3>
            <p class="l-carousel__text">Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a
                leo sit amet facilisis.</p>
        </div>
        <div class="l-carousel__cell l-carousel__cell--first">
            <span class="l-carousel__step">step 1</span>
            <h3 class="l-carousel__header">Sed leo enim, condimentum</h3>
            <p class="l-carousel__text">Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a
                leo sit amet facilisis.</p>
        </div>
    </div>
    <div class="l-carousel" data-flickity>
        <div class="l-carousel__cell l-carousel__cell--third">
            <span class="l-carousel__step">step 1</span>
            <h3 class="l-carousel__header">Sed leo enim, condimentum</h3>
            <p class="l-carousel__text">Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a
                leo sit amet facilisis.</p>
        </div>
        <div class="l-carousel__cell l-carousel__cell--first">
            <span class="l-carousel__step">step 1</span>
            <h3 class="l-carousel__header">Sed leo enim, condimentum</h3>
            <p class="l-carousel__text">Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a
                leo sit amet facilisis.</p>
        </div>
        <div class="l-carousel__cell l-carousel__cell--second">
            <span class="l-carousel__step">step 1</span>
            <h3 class="l-carousel__header">Sed leo enim, condimentum</h3>
            <p class="l-carousel__text">Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a
                leo sit amet facilisis.</p>
        </div>
    </div>
</section>  <!--Steps End-->
