//font weights
$light  : 300;
$normal : 400;
$bold   : 700;

//font families
$google-font--primary   : 'Montserrat', 'Arial',  sans-serif;
$google-font--secondary : 'Roboto', 'Helvetica', sans-serif;

//base font size
$base-font-size   : 16px;




